<table class="table table-hover">
    <h1>Places</h1>
    <p>Welcome to this Page, You are the admin </p>
    <thead>
        <tr>
            <th>No.</th>
            <th>Name</th>
            <th>Catagories</th>
            <th>Status</th>
            <th>Description</th>
            <th>Approved</th>
        </tr>
    </thead>
    <tbody>
        {{#each places}}
        <form method="POST" action="places/{{this._id}}/approve">
            <tr>
                <th scope="row"></th>
                <td>{{this.name}}</td>
                <td>{{this.category}}</td>
                <td>{{this.status}}</td>
                <td>{{this.description}}</td>
                <td>
                     <button class="btn btn-primary" type="submit"
                        value="Activate">Approve</button>
                </td>
            </tr>
        </form>
        {{/each}}
    </tbody>
</table>
<a href="places/add">
    <button class="bg-info"> Add New places</button>
</a>